.btns-wrap {
  display: flex;
  width: 100%;
}

.btns-wrap-direction-row {
  flex-direction: row;
}

.btns-wrap-direction-column {
  flex-direction: column;
}

.btns-wrap-space-between {
  align-items: center;
  justify-content: space-between;
}

.btns-wrap-end {
  align-items: center;
  justify-content: flex-end;
}

.filter-wrapper .btn-outline-black-small {
  margin: 0;
  border: none;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  border-radius: 0;
}

.filter-wrapper .btn-outline-black-small:last-of-type {
  border-right: 1px solid var(--color-black);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter-wrapper .btn-color-grey-small {
  border-radius: 0;
  border: 1px solid var(--color-black);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.editor-btns-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editor-btns-wrap button {
  margin-left: 10px;
}

.modal-btns {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
