.code-editor {
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 600px;
}

.code-editor .cm-editor,
.code-editor .cm-scroller {
  flex: 1;
  height: 100%;
}

.code-editor .cm-editor {
  padding: 10px;
  background-color: #2a2a2a;
}

.code-editor .cm-scroller {
  overflow-y: scroll;
  overflow-x: scroll;
}

.code-editor .cm-scroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.code-editor .cm-scroller::-webkit-scrollbar-corner {
  background-color: #2a2a2a;
}

.code-editor .cm-scroller::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.code-editor .cm-scroller::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.code-editor .cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.code-editor .cm-content {
  min-height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Fira Code", monospace;
}

.code-editor .cm-lineNumbers {
  color: #aaa;
  background-color: #2a2a2a;
}

.code-editor .cm-gutters {
  font-size: 12px;
  background-color: #2a2a2a;
  color: #aaa;
  padding-right: 4px;
}
