.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.btn-size-medium {
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

.btn-size-small {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
}

.btn-size-large {
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
}

.btn-color-black {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn-color-light-grey {
  background-color: var(--color-light-grey);
  color: var(--color-black);
}

.btn-color-red {
  background-color: var(--color-red-errors);
  color: var(--color-white);
}

.btn-icon {
  background-color: transparent;
}

.btn-outline-white {
  background: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.btn-outline-black {
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
