/* .input-create-title:not(:placeholder-shown):invalid {
  border: 2px solid red;
} */
.inputTxt {
  height: 30px;
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-light-grey);
  height: 35px;
  border-radius: 5px;
}

.inputTxt::placeholder {
  font-size: 1rem;
  color: var(--color-light-grey);
}

.inputTxt-full-size {
  width: 90%;
}

.inputTxt-half-size {
  width: 50%;
}

.inputTxt-quater-size {
  width: 25%;
}
