:root {
  --color-medium-grey: rgb(173, 173, 173);
  --color-light-grey: rgb(232, 232, 232);
  --color-black: rgb(32, 32, 32);
  --color-white: rgb(252, 252, 252);
  --color-red-errors: rgb(227, 12, 12);
  --color-dark-grey: #212529;
  --color-slighty-dark-grey: #343a40;
  --color-medium-dark-grey: #495057;
  --color-medium-dark-grey: #6c757d;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1.1px;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-black);
  background-color: var(--color-white);
}

#root {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
