.txt {
  color: var(--color-black);
  margin: 0;
}

.txt-body-white {
  font-size: 1.4rem;
  color: var(--color-white);
}

.txt-body-black {
  font-size: 1.4rem;
}

.txt-label-black {
  font-size: 1.3rem;
  color: var(--color-black);
  margin-bottom: 5px;
}

.txt-caption-grey {
  color: var(--color-medium-grey);
  font-size: 0.9rem;
}

.txt-caption-red {
  color: var(--color-red-errors);
  font-size: 0.9rem;
  font-style: italic;
}

.txt-h2-black {
  color: var(--color-black);
  font-size: 2rem;
}

.txt-tag-grey {
  background-color: var(--color-light-grey);
  color: var(--color-black);
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
}
