.txt {
  color: var(--color-black);
  margin: 0;
}

.txt-body {
  font-size: 1.4rem;
}

.txt-h2 {
  font-size: 2rem;
}

.txt-caption {
  font-size: 0.9rem;
}

.txt-label {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.txt-tag {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.txt-color-white {
  color: var(--color-white);
}

.txt-color-red {
  color: var(--color-red-errors);
}

.txt-color-black {
  color: var(--color-black);
}

.txt-color-medium-grey {
  color: var(--color-medium-grey);
}

.txt-color-light-grey {
  color: var(--color-light-grey);
}

.txt-background-light-grey {
  background-color: var(--color-light-grey);
}
